.main {
    height: 500px;
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    font-size: 26px;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(44, 174, 131);
}

nav {
    height: 40px;
    width: 100%;
    background-color: rgb(96, 35, 83);
}

.contents {
    display: flex;
}

.side {
    height: 300px;
    width: 75%;
}

section {
    height: 150px;
    width: 100%;
    background-color: rgba(125, 176, 37, 0.717);
}

article {
    height: 150px;
    width: 100%;
    background-color: rgba(69, 24, 66, 0.694);
}

aside {
    height: 300px;
    width: 25%;
    background-color: moccasin;
}

footer {
    height: 110px;
    width: 100%;
    background-color: rgba(95, 160, 116, 0.708);
}