.main {
    font-family: 'Montserrat', sans-serif;
    height: 720px;
    width: 100%;
    background-image: url(bgimage.jpg);
    background-size: cover;
    background-position: center;
}

.div {
    position: absolute;
    border: 2px solid wheat;
    margin: 140px 0 0 140px;
    display: flex;
    gap: 20px;
    backdrop-filter: blur(5px);
    height: 450px;
    width: 80%;
}

.bookingtext {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: left;
    padding: 40px 0 0 0;
    color: white;
}

.bookingtext h1 {
    font-size: 60px;
}

.bookingtext p {
    font-size: 18px;
}

#slotSection {
    position: absolute;
    margin: -25px 0 0 400px;
}

#bookingType {
    font-size: 16px;
}

#bookingForm input {
    position: absolute;
    font-size: 16px;
    left: 900px;
}

.form {
    width: 600px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    color: white;
    padding: 20px 0 0 50px;
}

.form button {
    border: none;
    font-size: 20px;
    padding: 10px 40px;
    color: #fff;
    font-weight: 600;
    background-color: green;
}