@media (min-width: 500px) and (max-width: 900px) {
    .main {
        background-color: rebeccapurple !important;
    }

    .header {
        height: 25px;
        font-size: 0.6rem;
        padding: 0;
        justify-content: space-around;
        gap: 0;
    }

    .nav {
        padding: 20px 0 0 20px;
    }

    #logo {
        font-size: 1.3rem;
    }

    .nav ol {
        display: none;
    }

    .invitation {
        margin-left: 20px;
    }

    .section1 {
        height: 94vh;
    }

    .card {
        padding: 20px 0 20px 0;
        flex-direction: column;
        height: 99vh;
        position: relative;
        background-image: url('Image/Background-black.jpg');
        gap: 15px;
    }

    .c1,.c2,.c3 {
        width: 88vw;
    }

    .card .arrow {
        display: none;
    }

    .section2 {
        height: 200vh;
    }

    .section2 .h-1 {
        padding: 80px 0 60px 0;
    }

    .meeting .box1 {
        display: none;
    }

    .meeting {
        margin: 0 0 0 0;
    }

    .meeting .box2 {
        justify-content: center;
    }

    .meeting .box {
        width: 60vw;
    }

    .meeting .image img {
        border-radius: 15px 15px 0 0;
        height: 150px;
        width: 100%;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        height: 150vh;
        align-items: start;
    }

    .sec3-div {
        height: 150vh;
    }

    .childbox1 {
        width: 80vw;
        margin: 0 0 0 10vw;
    }

    .childbox2 {
        width: 80vw;
        margin: 0 0 0 10vw;
    }

    .s3right {
        width: 97vw;
        padding-left: 0;
        justify-content: center;
    }

    .rchildbox {
        position: static;
        width: 90vw;
        height: 300px;
        overflow: hidden;
    }

    .rchildbox i {
        position: static;
    }

    .section4 {
        height: 200vh;
    }

    .section4 .cours {
        flex-direction: column;
        align-items: center;
    }

    .section4 .cours img {
        width: 300px;
    }

    .section4 .co1,.co2,.co3,.co4 {
        width: 300px;
    }

    .section4 button {
        display: none;
    }

    .section5 {
        height: 150vh;
    }

    .sec5-div {
        height: 150vh;
    }

    .sec5d1 {
        flex-direction: column;
        align-items: center;
        row-gap: 10vh;
    }

    .section5 .box1 {
        display: flex;
        flex-direction: row;
        gap: 4vw;
        margin: 0;
        padding: 0;
    }

    .section5 .box2 {
        display: flex;
        flex-direction: row;
        gap: 4vw;
    }

    .section6 {
        height: 150vh;
        display: flex;
        flex-direction: column;
        column-gap: 50px;
    }

    .section6 .form {
        height: 350px;
        width: 700px;
        line-height: 40px;
        margin: 0 180px 0 0;
    }

    .section6 .form input {
        height: 30px;
        width: 200px;
        padding: 10px;
    }

    .section6 .form #msg {
        width: 500px;
    }

    .section6 .contact {
        margin: 10px 180px;
    }
}

@media (max-width : 500px) {
    .header {
        height: 25px;
        font-size: 0.6rem;
        padding: 0;
        justify-content: space-around;
        gap: 0;
    }

    .nav {
        padding: 20px 0 0 20px;
    }

    #logo {
        font-size: 1.3rem;
    }

    .nav ol {
        display: none;
    }

    .invitation {
        margin-left: 20px;
    }

    .invitation b {
        font-size: 14px;
    }

    .invitation h1 {
        font-size: 26px;
    }

    .invitation p {
        font-size: 16px;
    }

    .invitation button {
        height: 30px;
        width: 100px;
        padding: 5px;
    }

    .invitation button b {
        font-size: 10px;
    }

    .section1 {
        height: 94vh;
    }

    .card {
        padding: 20px 0 20px 0;
        flex-direction: column;
        height: 99vh;
        position: relative;
        background-image: url('Image/Background-black.jpg');
        gap: 15px;
    }

    .c1,.c2,.c3 {
        width: 88vw;
    }

    .card .arrow {
        display: none;
    }

    .section2 {
        height: 200vh;
    }

    .section2 .h-1 {
        padding: 80px 0 60px 0;
    }

    .meeting .box1 {
        display: none;
    }

    .meeting {
        margin: 0 0 0 0;
    }

    .meeting .box2 {
        justify-content: center;
    }

    .t-2 p {
        font-size: 14px;
    }

    .meeting .box {
        width: 60vw;
    }

    .meeting .image img {
        border-radius: 15px 15px 0 0;
        height: 150px;
        width: 100%;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        height: 150vh;
        align-items: start;
    }

    .sec3-div {
        height: 150vh;
    }

    .childbox1 {
        width: 80vw;
        margin: 0 0 0 10vw;
    }

    .childbox1 p {
        font-size: 14px;
    }

    .childbox2 {
        width: 80vw;
        margin: 0 0 0 10vw;
    }

    .childbox2 p {
        font-size: 14px;
    }

    .s3right {
        width: 97vw;
        padding-left: 0;
        justify-content: center;
    }

    .rchildbox {
        position: static;
        width: 90vw;
        height: 300px;
        overflow: hidden;
    }

    .rchildbox i {
        position: static;
    }

    .section4 {
        height: 200vh;
    }

    .section4 h2 {
        font-size: 20px;
        margin-left: -100px;
    }

    .section4 .cours {
        flex-direction: column;
        align-items: center;
    }

    .section4 .cours img {
        width: 250px;
    }

    .section4 .co1,.co2,.co3,.co4 {
        width: 250px;
    }

    .section4 button {
        display: none;
    }

    .section5 {
        height: 160vh;
    }

    .section5 h1 {
        font-size: 20px;
        margin-left: -90px;
    }

    .sec5-div {
        height: 160vh;
    }

    .sec5d1 {
        flex-direction: column;
        align-items: center;
        row-gap: 4vh;
    }

    .section5 .box1 {
        display: flex;
        flex-direction: column;
        gap: 4vw;
        margin: 0;
        padding: 0;
    }

    .section5 .box2 {
        display: flex;
        flex-direction: column;
        gap: 4vw;
    }

    .sec5d2 iframe {
        width: 300px;
        height: 250px;
        border-radius: 15px;
    }

    .section6 {
        height: 120vh;
        display: flex;
        flex-direction: column;
        column-gap: 50px;
    }

    .section6 .form {
        height: 300px;
        width: 450px;
        line-height: 40px;
        margin-left: -100px;
    }

    .section6 .form input {
        height: 30px;
        width: 200px;
    }

    .section6 .form #msg {
        height: 30px;
        width: 200px;
    }

    .section6 .contact {
        height: 400px;
        margin-left: -30px;
        line-height: 20px;
    }
}