@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
/* COLORS */
--first-color: hsl(230, 62%, 56%);
--title-color: hsl(230, 70%, 16%);
--text-color: hsl(230, 16%, 45%);
--border-color: hsl(230, 50%, 90%);
--white-color: hsl(0, 0%, 100%);
--body-color: hsl(230, 100%, 96%);
--container-color: hsl(230, 100%, 97%);
}
