.main{
    height: 97vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.324);
    position: relative;
}
label{
    padding: 10px;
    font-size: 18px;
    line-height: 40px;
}
.inputField{
    width: 600px;
    margin: 5px 0 0 400px;
    padding: 5px;
}
#date{
    position: absolute;
    left: 108px;
}
#adress{
    height: 120px;
}
span{
    margin-left: 430px;
}
select{
    margin-left: 385px;
    padding: 0 10px;
}
.span{
    margin-top: -40px;
    margin-left: 510px;
    display: block;
}
button{
    padding: 10px 20px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}