.main{
    height: 400px;
    width: 700px;
    border: 2px solid black;
    margin: auto;
}
.main h2{
    text-align: center;
}
.main label {
    font-size: 32px;
    margin: 0 15px;
}
.main input{
    font-size: 20px;
    margin-left: 40px;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.container .box1 {
    padding-top: 20px;
}
.container .box1 button {
    font-size: 30px;
    padding: 5px 20px;
    margin: 15px 5px;
    border-radius: 5px;
}

.box2 {
    font-size: 24px;
    padding: 10px 120px 0 0;
    line-height: 4;
}

.box2 b {
    font-size: 40px;
}

.box2 span {
    width: 60px;
    height: 40px;
}
#result{
    color: blue;
}