.main{
    height: 600px;
    width: 99vw;
    background-color: #000;
}
.main h1, h3{
    text-align: center;
    color: #fff;
}
.slider{
    height: 200px;
    width: auto;
    display: flex;
}
.s1{
    height: 200px;
    width: 150px;
    background-color: aquamarine;
}
.s2{
    height: 200px;
    width: 150px;
    background-color: yellow;
}
.s3{
    height: 200px;
    width: 150px;
    background-color: blueviolet;
}
.s4{
    height: 200px;
    width: 150px;
    background-color: brown;
}
.s5{
    height: 200px;
    width: 150px;
    background-color: green;
}
.s6{
    height: 200px;
    width: 150px;
    background-color: white;
}