.main {
    height: 100%;
    width: 100vw;
    background: black;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 200px 220px 200px 180px;
    grid-template-columns: 230px 200px 230px 200px 200px 190px;
}

.item {
    border: 3px solid black;
}

.i-1 {
    background-image: url(../Image/Que20/man-surfing-on-ocean-waves.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 1/ 1/ 2/ 5;
}

.i-2 {
    background-image: url(../Image/Que20/OIP.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 1/ 5/ 2/ 7;
}

.i-3 {
    background-image: url(../Image/Que20/girl.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-area: 2/ 1/ 3/ 2;
}

.i-4 {
    background-image: url(../Image/Que20/Garden.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 2/ 2/ 3/ 6;
}

.i-5 {
    background-image: url(../Image/Que20/Girls.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 2/ 6/ 3/ 7;
    background-color: black;
}

.i-6 {
    background-image: url(../Image/Que20/Girls2.jpeg);
    filter: grayscale(50);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 3/ 1/ 4/ 4;
}

.i-7 {
    background-image: url(../Image/Que20/Girls3.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 3/ 4/ 4/ 7;
}

.i-8 {
    background-image: url(../Image/Que20/Building.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 4/ 1/ 5/ 3;
}

.i-9 {
    background-image: url(../Image/Que20/Hill.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 4/ 3/ 5/ 5;
}

.i-10 {
    background-image: url(../Image/Que20/Tower.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: 4/ 5/ 5/ 7;
}

.i-11 {
    grid-area: 1/ 7/ 5/ 8;
    background-color: black;
}

.i-11 .h1 {
    color: #fff;
    text-align: right;
}

.i-11 .h3 {
    color: rgb(158, 4, 4);
    text-align: right;
}

.i-11 .h4 {
    color: #fff;
    text-align: right;
}

.i-11 .h5 {
    color: #fff;
    text-align: right;
}

a {
    text-decoration: none;
}