.main {
    height: 700px;
    width: 80%;
    margin: auto;
}

.Image {
    height: 70%;
    width: 100%;
    position: relative;
}

.Image img {
    height: 100%;
    width: 100%;
    position: absolute;
    filter: brightness(40%);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 0 82%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 0 82%, 0 0);
}

.Image .Logo {
    border: 1px solid whitesmoke;
    color: white;
    font-size: 20px;
    margin: auto;
    padding: 5px;
    position: absolute;
    top: 15px;
    left: 180px;
}

span {
    background-color: white;
    color: black;
    padding: 5px 13px;
    font-weight: 700;
}

.header {
    color: whitesmoke;
    position: absolute;
    top: 12px;
    left: 500px;
}

.header ul li {
    display: inline;
    padding: 5px 13px;
    font-size: 12px;
    letter-spacing: 1px;
}

.H {
    color: orangered;
    text-decoration: underline;
    letter-spacing: 1px;
    text-underline-offset: 10px;
}

.text1 {
    position: absolute;
    font-size: 16px;
    color: #fff;
    top: 32%;
    left: 40%;
}

.text2 {
    position: absolute;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    word-spacing: 10px;
    letter-spacing: 2px;
    top: 35%;
    left: 28%;
}

.text3 {
    position: absolute;
    color: #fff;
    font-size: 15px;
    top: 50%;
    left: 30%;
    width: 40%;
}

.button {
    position: absolute;
    bottom: 100px;
    left: 34%;
}

.button .b1 {
    color: #fff;
    background-color: orangered;
    font-size: 17px;
    padding: 7px 17px;
    border: none;
}

.button .b2 {
    border: 1px solid white;
    color: white;
    background: none;
    padding: 7px 30px;
    font-size: 17px;
    margin-left: 5px;
}

.a1 {
    position: absolute;
    top: 240px;
    left: 15px;
    color: #000;
    background-color: lightgray;
    padding: 5px;
    border: none;
}

.a2 {
    position: absolute;
    top: 240px;
    right: 15px;
    color: #fff;
    background-color: orangered;
    border: none;
    padding: 5px;
}

.icon {
    position: absolute;
}

.icon i {
    color: orangered;
    background-color: whitesmoke;
    padding: 7px 10px;
    border-radius: 500px;
    margin-top: 470px;
    margin-left: 570px;
}

.main2 {
    height: 200px;
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
}

.item {
    height: auto;
    width: 22%;
    margin-top: 15px;
    align-content: center;
}

.item1 {
    color: orangered;
}

.item1 i {
    border: 1px solid;
    padding: 8px 15px;
    border-radius: 50%;
}

.item2 i {
    border: 1px solid black;
    color: orangered;
    padding: 10px 15px;
}

.item3 i {
    border: 1px solid black;
    color: orangered;
    padding: 10px 15px;
}

.item4 i {
    border: 1px solid black;
    color: orangered;
    padding: 10px 15px;
}