.main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.navbar .lef {
    font-size: 24px;
    padding-top: 6px;
}

.navbar .cen {
    width: 40vw;
    display: flex;
    font-size: 16px;
    padding-top: 10px;
    margin-left: 200px;
    gap: 4vw;
}

.navbar .rig {
    display: flex;
    gap: 2vw;
}

.navbar .rig .m6 {
    padding-top: 10px;
}

.navbar .rig button {
    width: 169px;
    height: 40px;
    border-radius: 4px;
    background: #ECE5FF;
}

.imenu {
    display: none;
}

.dropdown-menu {
    display: none;
}

.c1 {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.ct1 {
    z-index: 1;
    padding: 4px 15px;
    border-radius: 100px;
    background: #81C43B;
}

.ct2 {
    font-size: 19px;
    padding: 4px 20px;
    border-radius: 0px, 100px, 100px, 0px;
    background: #F2F9EB;
}

.c2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.c2t1 {
    display: flex;
    color: #131313;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    justify-content: center;
    text-align: center;
}

.c2t2 {
    display: flex;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    justify-content: center;
}

.c3 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.c3 input {
    padding: 10px 35px;
    color: #97A5B5;
    background: #FFFFFF;
    border: 1px solid;
}

.c3t1 {
    padding: 10px 40px;
    border-radius: 4px;
    color: #FFFFFF;
    background: #794CFF;
}

.c4 {
    margin-left: 280px;
}

.c4 img {
    height: 654.29px;
    width: 920px;
}

.c5 {
    display: flex;
    justify-content: center;
}

.c6 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.review {
    display: flex;
    border: 1px;
    height: 640px;
    margin-top: 50px;
    background: linear-gradient(0deg, #F0EBFA, #F0EBFA),
        linear-gradient(0deg, #FBFAFE, #FBFAFE);
    justify-content: space-evenly;
}

.review img {
    padding-top: 60px;
}

.review .text {
    padding-top: 60px;
    line-height: 24px;
}

.review .text .t1 .t1text {
    padding: 10px;
    margin-left: -10px;
    border-radius: 0px, 8px, 8px, 0px;
    background: #F6F3FC;
}

.review .t1 {
    display: flex;
    gap: 10px;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.option h1 {
    text-align: center;
}

.option .box1 {
    display: flex;
    justify-content: space-evenly;
    line-height: 24px;
    padding-top: 50px;
}

.option .box2 {
    display: flex;
    justify-content: space-evenly;
    line-height: 24px;
    padding-top: 50px;
}

.option .box1 .b1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}

.option .box1 .b2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}

.option .box1 .b3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}

.option .box2 .b4 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}

.option .box2 .b5 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}

.option .box2 .b6 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}

.option .box1 img {
    width: 64px;
}

.option .box1 p {
    text-align: left;
}

.option .box2 img {
    width: 64px;
}

.option .box2 p {
    text-align: left;
}

#btw {
    display: none;
}

.graph {
    height: 540px;
    display: flex;
    background: linear-gradient(0deg, #F0EBFA, #F0EBFA),
        linear-gradient(0deg, #FBFAFE, #FBFAFE);
    justify-content: space-evenly;
}

.graph .text {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 400px;
}

.graph .text button {
    width: 130px;
    height: 40px;
    border: none;
    color: white;
    background: #796EFF;
    border-radius: 4px;
}

.graph img {
    padding-top: 80px;
}

.team {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.team .textz {
    padding-top: 10px;
}

.team .member {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}

.team .member .e1 {
    border-top: 5px solid;
    padding: 6px;
}

.team .member .emp {
    display: flex;
    text-align: left;
    gap: 5px;
}

.download {
    width: 1110px;
    border-radius: 16px;
    height: 224px;
    background: #796EFF;
    display: flex;
    justify-content: space-evenly;
    margin-left: 170px;
    margin-top: 50px;
}

.download .text {
    height: 96px;
    width: 423px;
    font-weight: 600;
    line-height: 48px;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 60px;
}

.download .image {
    display: flex;
    gap: 20px;
}

.footer {
    margin-top: 80px;
    height: 350px;
    width: 1505px;
    background: #1D2830;
}

.footer .ftop {
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    gap: 4vw;
    padding-right: 100px;
    padding-top: 70px;
}

.fright {
    display: flex;
}

.fleft {
    display: flex;
    gap: 11vw;
}

.f4 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.fbot {
    margin-top: 50px;
}

.fbot hr {
    border-color: rgba(205, 205, 205, 0.5);
}

.fm {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 27vw;
}

.rights {
    width: 350px;
    color: white;
}

.social {
    display: flex;
    gap: 19px;
    padding-right: 70px;
}