.container {
    height: 650px;
    width: 99vw;
    border: 2px solid;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.container img {
    height: 100%;
    width: 100%;
    filter: brightness(0.2);
    position: absolute;
}

.container svg {
    bottom: 140px;
    position: absolute;
}

.main {
    position: absolute;
    bottom: 0;
    height: 140.5px;
    width: 100%;
    filter: opacity(0.7);
    background-color: rgb(141, 31, 31);
}

.inf {
    position: absolute;
    color: rgb(255, 255, 255);
}

.inf h1 {
    margin-top: 65px;
    margin-left: 630px;
}

.inf p {
    margin-left: 530px;
    word-spacing: 2px;
}

.inf .image {
    height: 70px;
    width: 65px;
    position: absolute;
}

.inf .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: brightness(0.9);
}

.inf .i-1 {
    margin: 240px 0 0 180px;
}

.inf .i-1 img {
    border: 3px solid orangered;
}

.inf .i-2 {
    height: 90px;
    width: 90px;
    margin: 170px 0 0 380px;
}

.inf .i-2 h1 {
    position: absolute;
    margin: 150px 0 0 10px;
    font-size: 20px;
    color: orangered;
}

.inf .i-2 img {
    border: 5px solid orangered;
}

.inf .i-2 span {
    position: absolute;
    margin: 200px 0 0 10px;
}

.inf .i-3 {
    margin: 150px 0 0 620px;
}

.inf .i-3 img {
    border: 3px solid orangered;
}

.inf .i-4 {
    width: 70px;
    margin: 210px 0 0 850px;
}

.inf .i-4 img {
    border: 3px solid orangered;
}

.inf .i-5 {
    margin: 165px 0 0 1080px;
}

.inf .i-5 img {
    border: 3px solid orangered;
}